.headp1 {
    font-size: 0.9rem;
    font-weight: 700;
    cursor: pointer;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.headp1:hover {
    color: orangered;
    transition: ease 0.2s;
}

.divp1 {
    width: 70%;
    display: flex;
    align-items: center;
}

.section-header {
    position: fixed;
    top: 0;
    box-shadow: 3px 3px 8px grey;
    width: 100%;
    height: 10vh;
}

.headimg1 {
    width: 4vw;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.sidebar {
    display: none;
    visibility: hidden;
}


/* ================================================ul-Men starts================================================== */
.top-wear-div {
    width: 18%;
}

.ul-Men {
    height: 10vh;
}

.ul-Men-list {
    display: none;
    background-color: rgb(171, 166, 166);
    margin-top: 1.8%;
    width: 80%;
}

ul.ul-Men:hover .headp1 {
    color: orangered;
}

.ul-Men:hover .ul-Men-list {
    display: flex;
    position: absolute;
    cursor: pointer;
}

.ul-mensub-list {
    background-color: white;
}

.men-products:hover {
    color: black;
    font-weight: 700;
    /* transform: scale(1.05); */
    transition: ease 0.2s;
}

.men-products a {
    color: black;
    /* font-weight: 500; */
    text-decoration: none;
    font-size: 13px;
}

.men-products {
    font-size: 13px;
    color: black;
    /* font-weight: 500; */
}

.Men-wear-sec {
    display: flex;
    background-color: white;
    width: 97%;
}


/* ================================================ul-Men ends================================================== */



/* ===================================================HEAD TOPICS COLORS STARTS============================================ */




.head-topic-1 a {
    text-decoration: none;
    color: rgb(243, 93, 118);
    font-weight: 500;
}
.head-topic-2 {
    color: rgb(248, 2, 84);
}

.head-topic-3 {
    color: orangered;
}
.head-topic-4{
    color: gold;
}
/* ===================================================HEAD TOPICS COLORS ENDS============================================ */

/* ================================================Women list starts================================================== */
.ul-women-list {
    display: none;
    background-color: rgb(171, 166, 166);
    margin-top: 1.8%;
    width: 80%;
}
.head-topic-1 a {
    text-decoration: none;
    color: rgb(243, 93, 118);
    font-weight: 500;
}

.ul-Men:hover .ul-women-list{
    display: flex;
    position: absolute;
    cursor: pointer;
}

.women-clothing-list {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.girls-clothing-div {
    width: 20%;
}

.foot-wear-div {
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-items: left;
}

.infants-div {
    width: 16%;
    display: flex;
    flex-direction: column;
    justify-items: left;
}

.kids-accessories-div {
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-items: left;
}



/* ================================================Women list ends================================================== */



/* ================================================Kidslist starts================================================== */
.ul-kids-list {
    display: none;
    background-color: rgb(171, 166, 166);
    margin-top: 1.8%;
    width: 80%;
}

.ul-Men:hover .ul-kids-list {
    display: flex;
    position: absolute;
    cursor: pointer;
}

.boys-clothing-list{
    display: flex;
    flex-direction: column;
    width: 20%;
}
.foot-wear-div {
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-items: left;
}

.infants-div {
    width: 16%;
    display: flex;
    flex-direction: column;
    justify-items: left;
}

.kids-accessories-div {
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-items: left;
}

/* ================================================Kids list ends================================================== */



/* ===================================================Ul Home & living Starts============================================= */
.ul-Home-Living-list{
    display: none;
    background-color: rgb(255, 255, 255);
    margin-top: 1.8%;
    width: 80%;
    margin-left: -15rem;
}
.ul-Men:hover .ul-Home-Living-list {
    display: flex;
    position: absolute;
    cursor: pointer;
}
.boys-clothing-list {
    display: flex;
    flex-direction: column;
    width: 20%;
}
.home-living-div {
    width: 26%;
    background-color: white;
}

.home-living-div2 {
    width: 22%;
    background-color: rgb(230, 230, 230);
}

.foot-wear-div {
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-items: left;
}

.infants-div {
    width: 16%;
    display: flex;
    flex-direction: column;
    justify-items: left;
}

.kids-accessories-div {
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-items: left;
}

 /* ===================================================Ul Home & living Starts============================================= */