@media (max-width:430px) {
    .header {
        display: none;
        visibility: hidden;
    }

    .section-header {
        max-width: 100%;
        text-align: center;
        height: 10vh;
    }

    .headimg1 {
        display: none;
        visibility: hidden;
    }

    .sidebar {
        margin-top: 3%;
        display: block;
        visibility: visible;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}